//COLOURS
$white:      #fff;
$black:      #333;
$yellow:     #F9BF3B;


//FONTS, SIZES, AND WEIGHTS

$display-font: "Playfair Display", Baskerville, serif;
$regular-font: Lato, Helvetica, Arial, sans-serif;

$small-fs:       1.2rem;
$regular-fs:     1.5rem;
$medium-fs:      3.5rem;
$large-fs:       4rem;
$extra-large-fs: 6rem;

$light-weight:   200;
$regular-weight: 400;
$heavy-weight:   700;

//MEDIA QUERIES
$screen-small:       400px;
$screen-medium:      700px;
$screen-large:       1000px;
$screen-extra-large: 1200px;
