@import "variables", "normalize.min";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, input, button {
  -webkit-font-smoothing: anitaliased;
}

h1, p, a {
  text-align: center;
  color: $white;
  font-weight: $regular-weight;
  text-shadow: 0 2px 2px #000;
}

h1 {
  font-family: $display-font;
  font-size: $large-fs;
  margin-bottom: 4rem;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  @media (min-width: $screen-large) {
    font-size: $extra-large-fs;
  }
}

p {
  font-size: $small-fs;
  font-family: $regular-font;
  letter-spacing: 0.5px;
  line-height: 1.3;
  @media (min-width: $screen-medium) {
    font-size: $regular-fs;
    margin-left: 4rem;
    margin-right: 4rem;
  }
  @media (min-width: $screen-large) {
    margin-left: 7rem;
    margin-right: 7rem;
  }
}

a {
  text-decoration: none;
  font-style: italic;
  border-bottom: 0.15rem solid $white;
  &:hover {
    border-bottom: 0.15rem solid $yellow;
  }
}

nav.slides-navigation {
    top: 3%;
}

nav .slides-pagination a {
  border: 2px solid $white !important;
  &.current {
    background: $white !important;
  }
}

.container {
  width: 100%;
  max-width: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 2rem;
  z-index: 3;
  @media (min-width: $screen-small) {
    top: 40%;
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%)
  }
}
