/*
Error: Invalid CSS after "..."normalize.min"": expected "{", was ";"
        on line 2 of ./styles.scss

1: <<<<<<< HEAD
2: @import: "variables", "normalize.min";
3: =======
4: @import: "variables", "normalize.min"
5: >>>>>>> 36fc4b84a046b9929b6f7d304b515bb13c259faf

Backtrace:
./styles.scss:2
/Users/emilyporta/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:1165:in `expected'
/Users/emilyporta/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:1101:in `expected'
/Users/emilyporta/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:1096:in `tok!'
/Users/emilyporta/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:641:in `block'
/Users/emilyporta/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:635:in `ruleset'
/Users/emilyporta/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:660:in `block_child'
/Users/emilyporta/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/emilyporta/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/emilyporta/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:42:in `parse'
/Users/emilyporta/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/engine.rb:393:in `_to_tree'
/Users/emilyporta/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/emilyporta/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/emilyporta/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/emilyporta/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/emilyporta/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `each'
/Users/emilyporta/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/emilyporta/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/emilyporta/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/emilyporta/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/listen-2.8.4/lib/listen/listener.rb:282:in `call'
/Users/emilyporta/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/listen-2.8.4/lib/listen/listener.rb:282:in `_process_changes'
/Users/emilyporta/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/listen-2.8.4/lib/listen/listener.rb:246:in `block in _wait_for_changes'
/Users/emilyporta/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/listen-2.8.4/lib/listen/listener.rb:229:in `loop'
/Users/emilyporta/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/listen-2.8.4/lib/listen/listener.rb:229:in `_wait_for_changes'
/Users/emilyporta/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/listen-2.8.4/lib/listen/listener.rb:318:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...\"normalize.min\"\": expected \"{\", was \";\"\A         on line 2 of ./styles.scss\A \A 1: <<<<<<< HEAD\A 2: @import: \"variables\", \"normalize.min\";\A 3: =======\A 4: @import: \"variables\", \"normalize.min\"\A 5: >>>>>>> 36fc4b84a046b9929b6f7d304b515bb13c259faf"; }
